<%- include('partials/header') %>

<div class="container mt-5">
    <div class="text-right mb-3">
        <a href="/lesson?courseId=<%= lesson ? lesson.COURSEID : '/' %>" class="btn btn-secondary">Return</a>
        <div class="btn-group" role="group" aria-label="Previous and Next Buttons">
            <a href="/lesson?id=<%= lesson ? lesson.ID : '' %>&prevLesson=<%= lesson ? lesson.ID : '/' %>&courseId=<%= lesson ? lesson.COURSEID : '' %>" class="btn btn-secondary"><</a>
            <a href="/lesson?id=<%= lesson ? lesson.ID : '' %>&nextLesson=<%= lesson ? lesson.ID : '/' %>&view=<%=view%>&courseId=<%= lesson ? lesson.COURSEID : '' %>" class="btn btn-secondary">></a>
        </div>
    </div>

    <% if (view != 'N' ) { %>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Lesson Form
                    </div>
                    <div class="card-body">
                        <form id="lessonForm" action="/lesson" method="POST">
                            <div class="form-group">
                                <label for="lessonName">Lesson Name</label>
                                <input type="text" class="form-control" id="lessonName" name="lessonName" value="<%= lesson ? lesson.TITLE : '' %>" required>
                                <label for="sortNumber">Sort Number</label>
                                <input type="number" class="form-control" id="sortNumber" name="sortNumber" value="<%= lesson ? lesson.SORT_NUM : '' %>" required>
                                <input type="hidden" id="lessonContent" name="lessonContent">
                                <input type="hidden" id="courseID" name="courseID" value="<%= lesson ? lesson.COURSEID : '' %>">
                                <input type="hidden" id="ID" name="ID" value="<%= lesson ? lesson.ID : '' %>">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        Lesson Content
                    </div>
                    <div class="card-body">
                        <textarea id="lessonTextArea" name="lessonTextArea"><%= lesson ? lesson.CONTENT : '' %></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/qhants1q05sfn99m3ak2ao7vg3v7m152npa39qrzkcb9urjb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#lessonTextArea',
            height: 500,
            plugins: 'link image code media',
            media_allow_video: true,
            media_url_resolver: function (data, resolve) {
                if (data.url.includes('youtube.com')) {
                    resolve({ html: `<iframe width="560" height="315" src="${data.url}" frameborder="0" allowfullscreen></iframe>` });
                } else {
                    resolve({ html: '<p>Unsupported media URL</p>' });
                }
            },
            toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image media | code',
            init_instance_callback: function (editor) {
                editor.setContent(document.getElementById('lessonTextArea').value)
            },
            images_upload_handler: function (blobInfo, success, failure) {
                const reader = new FileReader();
                reader.onload = function () {
                    const base64data = reader.result;
                    success(base64data);
                };
                reader.onerror = function (error) {
                    failure('Failed to read the image file: ' + error.message);
                };
                reader.readAsDataURL(blobInfo.blob());
            },
        });
        document.getElementById('lessonForm').addEventListener('submit', function (event) {
            const additionalValue = tinymce.get('lessonTextArea').getContent();
            document.getElementById('lessonContent').value = additionalValue;
        });
    </script>
<% } else { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
        <a class="navbar-brand" href="#"><%- lesson ? lesson.TITLE : '' %></a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="border: 1px solid #ccc; padding: 10px;">
                <%- lesson ? lesson.CONTENT : '' %>
            </div>
        </div>
    </div>
<% } %>
<%- include('partials/footer') %>
